* {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background-color: #1c1c1c;
}

#root {
	width: 100%;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
